@model IEnumerable<OrdersADS.Models.Status>

@{
    ViewBag.Title = "Статусы";
}

<h2>Статусы</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Status", new { id = item.Id }))
            {
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Детали", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                <input type="submit" value="Удалить" class="btn btn-danger btn-xs" />
            }
        </td>
    </tr>
}

</table>

@Html.ActionLink("Добавить", "Create", null, new { @class ="btn btn-primary"})
