@model OrdersADS.Models.Ordere

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить выбранный элемент?</h3>
<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOrder.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Обратно к списку", "Index")
        </div>
    }
</div>
