@model IEnumerable<OrdersADS.Models.Ordere>

@{
    ViewBag.Title = "Заказы";
}

<h2>Заказы</h2>
<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Сортировка
    </button>
    <div class="dropdown-menu">
        <form asp-controller="Order" asp-action="Index" method="get">
            <div class="form-group">
                <label>Наименование:</label>
                <input type="text" class="form-control" placeholder="Наименование" name="SearchName">
            </div>
            <div class="form-group">
                <label>Заявка:</label>
                @Html.DropDownList("request", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Поставщик:</label>
                @Html.DropDownList("provider", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Статус:</label>
                @Html.DropDownList("status", null, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Фильтр</button>
        </form>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOrderId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOrder.Name)
            </td>
            <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Детали", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id}, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
