@model IEnumerable<OrdersADS.Models.Zakazchik>

@{
    ViewBag.Title = "Заказчики";
}

<h2>Заказчики</h2>
<form asp-controller="Zakazchik" asp-action="Index" method="get">
    <p>
        Наименование: <input type="text" name="SearchName">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Детали", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id}, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })