@model IEnumerable<OrdersADS.Models.AppUser>

@{
    ViewBag.Title = "Список учетных запискй";
}

<h2>Список учетных записей</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3" class="text-center">Нет ни одной учетной записи</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Admin", new { id = item.Id }))
                    {
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id})
                        <input type="submit" value="Удалить" class="btn btn-danger btn-xs"/>
                    }
                </td>
            </tr>
        }
    }

</table>
@Html.ActionLink("Создать", "Create", null, new { @class="btn btn-primary"})